{%extends 'layout.html'%}
{%block body%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <div class="contact-info">
                <div class="contact-item fade-in">
                    <div class="icon">📍</div>
                    <span style="color: #cbd5e1;">Mahesana, Gujarat, India</span>
                </div>
                <div class="contact-item fade-in">
                    <div class="icon">💼</div>
                    <a href="https://linkedin.com/in/bitcrafter21" target="_blank">LinkedIn Profile</a>
                </div>
                <div class="contact-item fade-in">
                    <div class="icon"><i class="fa-brands fa-github"></i></div>
                    <a href="https://github.com/bitcrafter21" target="_blank">GitHub Profile</a>
                </div>
            </div>
        </div>
    </section>
{%endblock%}